body{
    background-color: rgb(124, 156 , 155);
}
#p1{
    color: dodgerblue; /*Pre-defined Color*/
}
#p2{
    color: rgb(240, 194, 240); /*RGB Color*/
}
#p3{
    color: #198f13; /*Hexadecimal Color*/
}
#p4{
    color: hsl(300, 78%, 31%); /*HSL Color*/
}